@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@media screen and (min-width: 601px) {
  h1 {
    font-size: 250px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    width: 60px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fugaz One", sans-serif;
  color: #E16234;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  background-color: #578B7E;
}