nav {
    height: 10vh;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.about {
    // min-height: 50px;
    margin-top: 100px;
}

// .test {
//     width: 80%;
//     margin: 0 auto;
//     height: 200px;
//     background-color: black;
//     padding: 20px;
//     div {
//         background-color: blue;
//         width: 80%;
//     }
// }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 150px;
    padding-top: 150px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}