@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fugaz One", sans-serif;
  color: #E16234;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  background-color: #578B7E;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 250px;
  margin-bottom: 50px;
  margin-top: 150px;
  margin-left: 20px;
  line-height: 101px;
  text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .heading {
    font-size: 150px;
  }
}
@media screen and (max-width: 600px) {
  .heading {
    font-size: 70px;
    margin: 0;
    margin-left: 10px;
  }
}

.Huw {
  padding-bottom: 120px;
}
@media screen and (max-width: 1024px) {
  .Huw {
    font-size: 150px;
  }
}
@media screen and (max-width: 600px) {
  .Huw {
    padding: 0;
    margin-left: 10px;
  }
}

.subheading {
  color: #F4E78C;
  font-size: 50px;
  margin-left: 45px;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .subheading {
    font-size: 20px;
    padding: 0;
    margin-left: 25px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2AA5F;
  height: 100px;
  width: 200px;
  background: #E2AA5F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: 0px solid transparent;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  .button {
    width: 100px;
    height: 50px;
  }
}
@media screen and (max-width: 600px) {
  .button a {
    font-size: 20px;
  }
}

a {
  color: #F4E78C;
}
@media screen and (max-width: 600px) {
  a {
    font-size: 5px;
  }
}

p {
  color: #F4E78C;
  background-color: #E2AA5F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  display: flex;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 200px;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  p {
    font-size: 25px;
  }
}

.project-name {
  background-color: #979797;
  color: #F4E78C;
  padding: 20px;
  font-size: 40px;
  text-align: center;
  height: 300px;
}
@media screen and (max-width: 600px) {
  .project-name {
    height: 50px;
    width: 80%;
    font-size: 15px;
    text-align: center;
  }
}

.grid-item img {
  height: 300px;
  width: 350px;
}
@media screen and (max-width: 600px) {
  .grid-item img {
    height: 100px;
    width: 80%;
  }
}

.wave {
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  #wave2 {
    padding-top: 400px;
  }
}

nav {
  height: 10vh;
  padding: 0 40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 50px auto;
  height: 200px;
  padding: 20px;
}

.about {
  width: 70%;
  padding: 20px;
  margin: 50px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 150px;
}
@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 100px;
    padding-right: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 100px;
    padding-right: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 0;
  }
}