* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fugaz One', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #578B7E;
}

header {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

h1 {
    display: flex;
    color: #E16234;
    font-size: 300px;
    line-height: 101px;
    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    margin-top: 100px;
}

h4 {
    display: flex;
    color: #F4E78C;
    font-size: 50px;
    padding-left: 25px;
}

.intro {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    text-align: center;
    color: #F4E78C;
    font-size: 25px;
    line-height: 26px;
    width: 500px;
    height: 200px;
    background: #E2AA5F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 50px;
    margin: 40px;
    min-width: 500px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 40px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    text-align: center;
    color: #F4E78C;
    font-size: 20px;
    line-height: 26px;
    background: #E2AA5F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 10px;
    margin: 40px;
    min-width: 120px;
    border: 0px solid transparent;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.about {
    width: 500px;
    height: 350px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 150px;
    padding-top: 150px;
  }

  .project-name {
    background-color: #979797;
    color: #F4E78C;
    padding: 20px;
    font-size: 40px;
    text-align: center;
  }

  .grid-item img {
      height: 550px;
      width: 550px;
  }

  footer {
      display: flex;
      justify-content: space-around;
      padding-top: 100px;
  }

  i.fab {
    color: #E16234;
  }